<div id="modal-image" class="bg-image bg-image-center" style="background-image: url(images/modal.about.jpg);">
	<div class="modal-title-container bg-image">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-headers">
			<h2 id="modal-title" data-i18n="About Stale Bread Recipes"></h2>
		</div>
	</div>
</div>
<div class="modal-body">
	<p class="clearfix">
		<a class="pull-right about-logo" href="http://www.rencs.com" target="_blank">
			<img width="100" alt="Ren Creative Solutions" src="images/logo_rencs.png" />
		</a>
		<span data-i18n="About Text"></span>
	</p>
	<p>
		<a href="http://www.rencs.com" target="_blank">
			<span data-i18n="Ren Creative Solutions"></span>
			<span class="glyphicon glyphicon-share-alt"></span>
		</a>
	</p>
</div>
