<div id="modal-image" class="bg-image bg-image-center" style="background-image: url(images/modal.ads.jpg);">
	<div class="modal-title-container bg-image">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-headers">
			<h2 id="modal-title" data-i18n="Remove Ads Title"></h2>
		</div>
	</div>
</div>
<div class="modal-body">
	<img src="images/modal.ads.price.png" width="64" class="pull-right" />
	<span data-i18n="Remove Ads Text"></span>
	<div class="text-center">
		<a href="https://play.google.com/store/search?q=pub:df">
			<img width="172" height="60" alt="Google Play'den Edinin" src="images/modal.ads.googleplay.png" />
		</a>
	</div>
</div>
