<div class="modal-header">
	<h4 class="modal-title text-center" data-i18n="Would you like to rate the app before you quit?">Would you like to rate the app before you quit?</h4>
</div>
<div class="modal-body">
	<div class="text-center">
		<p>
			<span class="glyphicon glyphicon-star corange"></span>
			<span class="glyphicon glyphicon-star corange"></span>
			<span class="glyphicon glyphicon-star corange"></span>
			<span class="glyphicon glyphicon-star corange"></span>
			<span class="glyphicon glyphicon-star corange"></span>
		</p>
		<button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">
			<span data-i18n="Cancel">LET'S RATE!</span>
			<span class="glyphicon glyphicon-hand-up"></span>
		</button>
	</div>
</div>
