<div id="modal-image" class="bg-image bg-image-center">
	<div class="modal-title-container bg-image">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-headers">
			<h5 id="modal-author"></h5>
			<h2 id="modal-title"></h2>
		</div>
	</div>
</div>
<div class="modal-list-tags clearfix">
	<span class="pull-right">
		<button type="button" class="btn btn-info btn-xs btn-responsive">
			<span class="glyphicon glyphicon-cutlery"></span>
			&nbsp;<strong id="modal-person"></strong>
		</button>
		<button type="button" class="btn btn-warning btn-xs btn-responsive">
			<span class="glyphicon glyphicon-time"></span>
			&nbsp;<strong id="modal-time"></strong><strong>′</strong>
		</button>
		<button type="button" class="btn btn-xs btn-responsive" id="modal-like">
			<span class="glyphicon glyphicon-heart"></span>
		</button>
	</span>
</div>
<div class="modal-body">
	<h3 data-i18n="Ingredients"></h3>
	<ul id="modal-body-ingredients"></ul>
	<h3 data-i18n="Directions"></h3>
	<ul id="modal-body-directions"></ul>
</div>
